name: labels-sync

on:
  push:
    branches:
      - main
    paths:
      - ".github/labels.yml"
      - ".github/workflows/labels-sync.yml"
  workflow_dispatch:

permissions:
  contents: read
  issues: write

jobs:
  sync-labels:
    name: sync labels
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          yaml-file: .github/labels.yml
          skip-delete: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
